<article class="listing">
 	{{#if comment.data.parent_whitelist_status}}
   		<div class="upvotes">
    	<!-- contains arrows and updoots -->
    		{{comment.data.ups}} 
  		</div>
  		<div>
       		<a target="_blank" href="{{unbound comment.data.url}}"><img src="{{comment.data.thumbnail}}" alt=""></a>
 		</div>
 		<div class="meta">
   			<h3><a target="_blank" href="{{unbound comment.data.url}}">{{comment.data.title}}</a></h3>
      		<span>Submitted at {{comment.data.created_utc}} moment by <a target="_blank" href="https://www.reddit.com/user/{{comment.data.author}}">{{comment.data.author}}</a> to 
            {{#link-to 'subreddit' comment.data.subreddit_name_prefixed}}
            {{comment.data.subreddit_name_prefixed}}
            {{/link-to}}
      		</span><br/>
  		</div>
   {{else}}
   <div class="comment">
   	<br/>
		<h1><a target="_blank" href="https://www.reddit.com/user/{{unbound comment.data.url}}">{{comment.data.author}}</a> {{comment.data.score}}</h1>
   		<span>{{comment.data.body}}</span>
    	<br/>
    </div>
    {{/if}}
</article>
