 	{{#if comment.data.parent_whitelist_status}}
    {{post-entry post=comment}}
  {{else}}
  <article class="listing">
    <div class="comment">
   	  <br/>
		  <h1><a target="_blank" href="https://www.reddit.com/user/{{unbound comment.data.author}}">{{comment.data.author}}</a> {{comment.data.score}}</h1>
   		<span>{{comment.data.body}}</span>
    	<br/>
      {{#each comment.data.replies.data.children as |replyGroup|}}
        {{comment-replies reply=replyGroup}}
      {{/each}}
    </div>
  </article>
  {{/if}}